<div class="banner">
  <%= link_to root_path do %>
    <%= image_tag("dressd-logo.png", alt: "Logo", class: "banner-logo") %>
  <% end %>
  <h1>Your Outfits</h1>
</div>

<div class="back-button" style="margin-top: -20px; margin-bottom: -20px;">
  <%= link_to "Go Back", new_outfit_path, class: "back-button" %>
</div>

<div class="search-container">
  <%= form_with(url: items_path, method: :get, class: "search-form") do |f| %>
    <%= f.search_field :query, class: "search-field", placeholder: "Search items..." %>
    <%= f.submit "Search", class: "search-button" %>
  <% end %>
</div>

<div class="outfits-container">
  <div class="outfits">
    <div class="outfits-content">
      <p>Outfit title placeholder</p>
    </div>
  </div>
  <div class="outfits">
    <div class="outfits-content">
      <p>Outfit title placeholder</p>
    </div>
  </div>
</div>
