 <div class="banner">
    <h1>Dress Me!</h1>
  </div>

<div class="container">
  <%= form_with(url: items_path, method: :get, class: "search-form") do |f| %>
    <%= f.search_field :query, class: "search-bar", placeholder: "Search items..." %>
    <%= f.submit "Search", class: "pink-button" %>
  <% end %>
</div>


<div class="container">
  <div class="filter-sort">
    <%= form_tag(items_path, method: :get) do %>
      <%= select_tag(:category, options_for_select(Item.distinct.pluck(:category)), include_blank: 'Categories', class: 'beige-button') %>
      <%= select_tag(:color, options_for_select(Item.distinct.pluck(:color)), include_blank: 'Colors', class: 'beige-button') %>
      <%= submit_tag 'Filter', class: 'pink-button' %>
    <% end %>
  </div>
</div>

<div class="card-container">
  <div class="card">
    <div class="tops-selections">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% if @tops.present? && @tops.count == 1 %>
            <div class="carousel-item active">
              <img src=" <%= cl_image_path @tops.first.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
            </div>
          <% else %>
            <div class="carousel-item active">
              <img src=" <%= cl_image_path @tops.first.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
            </div>
            <% @tops[1..-1].each do |top| %>
              <div class="carousel-item">
                <img src=" <%= cl_image_path top.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

<div class="card-container">
    <div class="card">
      <div class="bottoms-selections">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <% if @bottoms.count == 1 %>
              <div class="carousel-item active">
                <img src=" <%= cl_image_path @bottoms.first.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
              </div>
            <% else %>
              <div class="carousel-item active">
                <img src=" <%= cl_image_path @bottoms.first.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
              </div>
              <% @bottoms[1..-1].each do |bottom| %>
                <div class="carousel-item">
                  <img src=" <%= cl_image_path bottom.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

 <div class="card-container">
    <div class="card">
      <div class="shoes-selections">

        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <% if @shoes.count == 1 %>
              <div class="carousel-item active">
                <img src=" <%= cl_image_path @shoes.first.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
              </div>
            <% else %>
              <div class="carousel-item active">
                <img src=" <%= cl_image_path @shoes.first.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
              </div>
              <% @shoes[1..-1].each do |shoe| %>
                <div class="carousel-item">
                  <img src=" <%= cl_image_path shoe.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card">
      <div class="dresses-selections">

        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <% if @dresses.count == 1 %>
              <div class="carousel-item active">
                <img src=" <%= cl_image_path @dresses.first.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
              </div>
            <% else %>
              <div class="carousel-item active">
                <img src=" <%= cl_image_path @dresses.first.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
              </div>
              <% @dresses[1..-1].each do |dress| %>
                <div class="carousel-item">
                  <img src=" <%= cl_image_path dress.photo.key, height: 150, width: 400, crop: :fill %> " class="d-block w-100" alt="...">
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
