<div class="navbar">
  <div class="container">
    <%= link_to root_path do %>
      <div id="profile-picdiv">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "icon profile-pic", style: "object-fit: cover;" %>
        <% else %>
          <i class="icon fa-solid fa-user"></i>
        <% end %>
      </div>
    <% end %>
     <%= link_to items_path do %>
      <%= image_tag("closet2.png", class: "small-img transition-img") %>    <% end %>
    <%= link_to new_item_path do %>
      <i class="icon fa-solid fa-plus"></i>
      <% end %>
    <%= link_to new_outfit_path do %>
      <%= image_tag("tshirt.png", class: "small-img transition-img") %>
      <% end %>
    <%= link_to outfits_path do %>
      <%= image_tag("hanger3.png", class: "small-img transition-img") %>
    <% end %>
  </div>
</div>
