<div class="navbar">
  <div class="container">
    <%= link_to root_path do %>
      <div id="profile-picdiv">
        <% if current_user.avatar.attached? %>
          <%= cl_image_tag current_user.avatar.key, class: "icon profile-pic", style: "object-fit: cover;" %>
        <% else %>
        <%= image_tag "default.jpeg", class: "icon profile-pic", style: "object-fit: cover;" %>
        <% end %>
      </div>
    <% end %>
     <%= link_to items_path do %>
      <i class="icon fa-solid fa-person-booth"></i>
    <% end %>
    <%= link_to new_item_path do %>
      <i class="icon fa-solid fa-plus"></i>
      <% end %>
    <%= link_to outfits_path do %>
     <i class="icon fa-solid fa-shirt"></i>
      <% end %>
    <%= link_to root_path do %>
      <i class="icon fa-solid fa-cart-shopping"></i>
    <% end %>
  </div>
</div>
