<div class="outfits">
  <div class="card-details-small">
    <h2 class="card-title"><%= outfit.title %></h2>
    <%= cl_image_tag outfit.items.first.photo.key, class: "outfit-image" %>
    <%= cl_image_tag outfit.items.second.photo.key, class: "outfit-image" %>
    <%= cl_image_tag outfit.items.third.photo.key, class: "outfit-image" %>
  <%= link_to "destroy outfit", outfit_path(outfit), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </div>
</div>
