<div class="banner">
  <h1>My profile</h1>
</div>

<div class="weather-banner">
  <div class="weather-logo">
    <%= image_tag("weather.png", alt: "Logo", class: "logo-image") %>
<div class="pink-button">
  <%= link_to "Cloudy with a chance of rain", root_path, class: "back-button" %>
</div>

  <div class="weather-button">
    <%= link_to "Cloudy with a chance of rain", root_path, class: "back-button" %>
  </div>
</div>

<div class="button-container">
  <div class="beige-button">
    <%= link_to "Dress Me", root_path, class: "back-button" %>
</div>

  <div class="beige-button">
    <%= link_to "Friends", root_path, class: "back-button" %>
  </div>
</div>

<div class="items-details">
  <h2>My Items</h2>
</div>

<div class="outfit-details">
  <h2>My Outfits</h2>
</div>
