<div class="banner">
  <%= link_to root_path do %>
    <%= image_tag("dressd-logo.png", alt: "Logo", class: "banner-logo") %>
  <% end %>
  <% if current_user && current_user.nickname %>
    <h1><%= current_user.nickname.capitalize %></h1>
  <% end %>
  <div class="logout-container">
    <% if user_signed_in? %>
      <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "logout-link" %>
    <% end %>
  </div>
</div>

<div class="container padding-bottom-more" data-controller="weather">
  <div class="header-weather">
    <div class="logo">
      <%= image_tag("weather.png", alt: "Logo", class: "logo-image", data: { weather_target: "icon"}) %>
    </div>
<p>Today's weather is... <span data-weather-target="description"></span></p>
  </div>
  <div class="button-container">
    <div class="left-button">
      <%= link_to "Dress Me", new_outfit_path, class: "pink-button" %>
    </div>
    <div class="right-button">
      <button class="pink-button">Friends</button>
    </div>
  </div>
  <div class="card-home-details">
    <div class="outfit-card">
      <div class="d-flex justify-content-between align-items-center">
        <h2>My Items</h2>
        <%= link_to "See All", items_path, class: "back-button mt-0" %>
      </div>
      <div class="outfit-card-grid h200">
        <% @items.each do |item| %>
          <% if item.photo.attached? %>
            <%= cl_image_tag item.photo.key, class: "card-image" %>
          <% end %>
        <% end %>
        <% if @items.empty? %>
          <div>
            <em class="no-outfits-message mt-2">You have no saved items yet, start adding items to your wardrobe!</em>
            <%= link_to "Add Items", new_item_path, class: "create-button mt-3" %>
          </div>
          <%= image_tag("ttshirt.png", alt: "Your Image", class: "bottom-image mt-2") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-home-details">
    <div class="outfit-card">
      <div class="d-flex justify-content-between align-items-center">
        <h2>My Outfits</h2>
        <%= link_to "See All", outfits_path, class: "back-button mt-0" %>
      </div>
      <div class="outfit-card-grid">
        <% @outfits.each do |outfit| %>
          <%= render 'shared/outfit', outfit: outfit %>
        <% end %>
        <% if @outfits.empty? %>
          <div>
            <em class="no-outfits-message mt-2">You have no saved outfits yet, create one from "Dress me" on your profile!</em>
            <%= link_to "Add Items", items_path, class: "create-button mt-3" %>
          </div>
          <%= image_tag("coat.png", alt: "Your Image", class: "bottom-image mt-2") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
