<div class="page-container">
  <div class="bg-landing">
    <div class="container-landing">
      <div class="buttons">
        <% if user_signed_in? %>
          <%= link_to "logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "button" %>
        <% else %>
            <%= link_to "sign up", new_user_registration_path, class: "button" %>
            <%= link_to "log in", new_user_session_path, class: "button" %>
        <% end %>

        <div class="dressd-logo">
        <%= image_tag "dressd-logo.png", style: "width: 350px; height: 350px" %>
            <div class="start-container">
            <%= link_to "Get started", new_user_registration_path, class: "pink-button" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
