<div class="banner">
  <%= link_to root_path do %>
    <%= image_tag("dressd-logo.png", alt: "Logo", class: "banner-logo") %>
  <% end %>
  <h1 class="text-center">Your Wardrobe</h1>
</div>

<div class="container">
  <%= form_with(url: items_path, method: :get, class: "search-container my-2") do |f| %>
    <%= f.search_field :query, class: "search-field", placeholder: "Search items..." %>

    <div class="filter-sort my-2">

        <div class="filter-row">
          <div class="filter-item">
            <%= f.collection_select :category, Item::CATEGORIES, "capitalize", "capitalize", {include_blank: "All categories"}, {class: 'beige-button'} %>
          </div>
          <div class="filter-item">
            <%= f.collection_select :style, Style.all, :id, :title, {include_blank: "All styles"}, {class: 'beige-button'} %>
          </div>
          <div class="">
            <%= submit_tag 'Search', class: 'search-button' %>
          </div>
        </div>
    </div>
  <% end %>

  <% if @items.any? %>
    <% if @dresses.any? %>
      <div class="items-container">
        <h1 class="black-heading">Dresses</h1>
        <div class="card-grid-container">
          <% @dresses.each_with_index do |dress, i| %>
            <%= render "item", item: dress %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @tops.any? %>
      <div class="items-container">
        <h1 class="black-heading">Tops</h1>
        <div class="card-grid-container">
          <% @tops.each_with_index do |top, i| %>
            <%= render "item", item: top %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @bottoms.any? %>
      <div class="items-container">
        <h1 class="black-heading">Bottoms</h1>
        <div class="card-grid-container">
          <% @bottoms.each_with_index do |bottom, i| %>
            <%= render "item", item: bottom %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if @shoes.any? %>
      <div class="items-container padding-bottom-more">
        <h1 class="black-heading">Shoes</h1>
        <div class="card-grid-container">
          <% @shoes.each_with_index do |pair, i| %>
            <%= render "item", item: pair %>
          <% end %>
        </div>
      </div>
    <% end %>

  <% else %>
    <em>Sorry, nothing matches your search.</em>
  <% end %>
</div>
