<!DOCTYPE html>
<html>
  <head>
    <title>Dressd</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8G1ELB7Q2D"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-8G1ELB7Q2D');
    </script>

    <%# Set a consistent meta description for all HTML pages %>
    <meta name="description" content="Welcome to Dressd, your personal wardrobe styler.">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <%= yield %>

    <% unless (current_page?('/users/sign_in') || current_page?('/landing') || current_page?('/users/sign_up')) %>
      <%= render "shared/navbar" if current_user %>
    <% end %>
  </body>
</html>
